<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2"
    [(ngModel)]="filtroLista"
    />
    <!-- <button class="btn btn-outline-success">Buscar</button> -->
  </div>
</div>

<h3>Filtro {{filtroLista}}</h3>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImage()"
        >
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImage"
          src="http://localhost:5000/img/{{ item.imageUrl }}"
          [style.width.px]="imageLargura"
          [style.margin.px]="imageMargin"
        />
      </td>
      <td>{{ item.eventoId }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>{{ item.lote }}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nda encontrado
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- <div *ngFor="let item of eventos">
  Tema: {{ item.tema }}
  <br />
  Local: {{ item.local }}
  <hr />
</div> -->
